<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <div class="section">Some section1</div>
    <div class="section">Some section2</div>
    <div class="section">Some section3</div>
    <div class="section">Some section4</div>
    <div class="section">Some section5</div>
</div>