@import 'src/style/_color.scss';

:host {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: $shadow;

    h1 {
        color: $main-color;
        margin: 0;
        font-size: 7em;
        text-align: center;
    }
}